body{
  margin:0px;
}

#header{
  background-color:#DDDDDD;
  font-family: 'Amatic SC', cursive;
  height:99px;
  width: 100%;
  opacity:0.8;
  padding:1px;
}

.header-logo{
  color: #FFF;
  padding: 20px 40px;
  font-size:23px;
  float:left;

}

.header-right li{
  float:right;
  list-style: none;
  padding:30px 10px;
  color: white;
}

a:link{
  color: #FFF;
  text-decoration:none;
}

a:hover{
color:black;
  text-decoration: underline;
}

.bg-slider {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}
